{% extends "base.html" %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{user.User.id}}</th>
                <td>{{user.User.name}}</td>
                <td>{{user.User.email}}</td>
                <td>{{user.User.type}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}